source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.Hmr
nuget Fable.Elmish.React
nuget Feliz
